html{
    font-size: 62.5%;
    box-sizing: border-box;
}
:root{
    --Almost-white:hsl(0, 0%, 98%);
    --Medium-gray: hsl(0, 0%, 41%);
    --Almost-black: hsl(0, 0%, 8%);
    --shadow-color: rgba(0, 0, 0, 0.7)
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    font-family: 'Epilogue medium',serif;
    line-height: 1.5;
}
/* ------------------------- */
.nav-menu--desktop{
    display: none;
}
/* styles for black background when sidebar is open */
.sidebar-wrapper--active{ 
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* ---------------------------- */
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* ================= */
/*      header       */
/* ================= */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;
    position: relative;
}
.nav-app__logo{
    max-width: 7rem;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 125rem;
    background-color: #fff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -23rem;
    transition: all 200ms ease-in-out;
}
.nav-menu--open{
    right: 0;
    top: 0;
    bottom: 0;
}
.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.menu__close-icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu__close-img{
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.menu__item{
    color:var(--Medium-gray);
    margin-bottom: 1.5rem;
}
.menu__text{
    display: inline-block;
    margin-bottom: 1.5rem;
}
.menu__colapsed-items{
    display: none;
    flex-direction: column;
    padding-left: 2rem;
    max-width: 15rem;
    margin-bottom: 1rem;
}
.menu__colapsed-item{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-basis: 4rem;
    cursor: pointer;
    max-width: 10rem
}
.header__links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 20rem;
    flex-basis: 10rem;
}
.header__link{
    text-decoration: none;
    color: var(--Medium-gray);
    text-align: center;
    padding: 1rem 1rem;
}
.header__link:hover,.header__link--border:hover
,.menu__text:hover{
    color: var(--Almost-black);
    border-color:var(--Almost-black) ;
}
.header__link--border{
    border: 2px solid var(--Medium-gray);
    border-radius: 1.5rem;
}
/* ================= */
/*      main       */
/* ================= */
.main-wrapper{
    display: flex;
    flex-direction: column;
}
.main-header{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: -2rem;
    margin-right: -2rem;
}
.main-header__img{
    width: 100%;
}
.main-header__desktop{
    display: none;
    
}
.main-body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-body__title{
    font-size: 1.8rem;
    font-family: 'Epilogue bold',sans-serif;
    font-size: 3.5rem;
}
.main-body__desc{
    color: var(--Medium-gray); 
    margin-top: 1.5rem;
}
.main-body__link{
    text-decoration: none;
    color: var(--Almost-white);
    background-color: var(--Almost-black);
    border-radius: 1.8rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.3rem;
    justify-content: center;
    font-family: 'Epilogue bold';
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.main-body__link:hover{
    color: black;
    background: white;
    border: 1px solid black;
}
/* ================= */
/*      footer       */
/* ================= */
.main-footer{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 5rem 0;
    width: 100%;
}
.main-footer__logo{
    width: 7rem;
    height: 1.5rem;
}
.audiophile{
    width: 6rem;
    height: 3rem;
}
.attribution{
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
}
